*{
    margin: 0;
    padding: 0;
}

h1{
    /*border-style: dashed;
    border-style: dotted;
    border-style: solid;
    border-style: double;
    border-style: ridge;
    border-style: groove;
    border-style: outset;
    border-style: inset;
    border-width: 10px;
    border-color: aquamarine;
    border: 5px solid rebeccapurple;
    border-radius: 5px; */
    border-left: 5px solid goldenrod;
    border-right: 5px solid gold;

    border-left-style: dotted;
    border-right-style: dashed;
    border-top-style: double;
    border-bottom-style: groove;
}
.parent{
    background: #574b90;
    width: 550px;
    margin-top: 50px;
    padding-top: 50px;
    margin-left: 50px;
    padding-left: 50px;
    margin-bottom: 20px;
    padding-bottom: 50px;
    padding: 20px;
    margin: 20px auto;
}
/*.child{
    background: #f78fb3;
    margin-top: 20px;
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}*/
.child{
    background: #f78fb3;
    margin: 25px 30px;
    padding: 10px 10px;

    margin: 10px ;
    padding: 25px;
}